	<header class="main-header">
	    <!-- Logo -->
	    <a href="#" class="logo">
	      <!-- mini logo for sidebar mini 50x50 pixels -->
	      <span class="logo-mini"><b>M</b>D</span>
	      <!-- logo for regular state and mobile devices -->
	      <span class="logo-lg"><b>My</b>Dashborad</span>
	    </a>	
	    
	    <nav class="navbar navbar-static-top" role="navigation">
		    <!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
			
			<!-- Navbar Right Menu -->
	      	<div class="navbar-custom-menu">
	        	<ul class="nav navbar-nav">
	       			
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="${request.contextPath}/js/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
							<span class="hidden-xs">Mrz</span>
						</a>
				  		<ul class="dropdown-menu">
					    	<!-- User image -->
							<li class="user-header">
								<img src="${request.contextPath}/js/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">						
								<p>
									Mrz Website
									<small>Member since Nov. 2012</small>
								</p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="row">
									<div class="col-xs-4 text-center">
										<a href="#">经验</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">金币</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">好友</a>
									</div>
								</div>
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">设置</a>
								</div>
								<div class="pull-right">
									<a href="#" class="btn btn-default btn-flat">退出</a>
								</div>
							</li>
				  		</ul>
					</li>
	       		</ul>
	   		</div>
   		</nav>			    
	</header>