<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 启用 @AspectJ 支持 -->
	<aop:aspectj-autoproxy />
	
	<!-- 自动扫描，注入Spring组件 -->
	<!-- 过滤掉 spring-mvc 的 controller 组件 -->
	<context:component-scan base-package="mysource.busi">
		<context:exclude-filter type="regex" expression="mysource.busi.*.controller"/>
	</context:component-scan>
	
	<!-- spring mail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.sina.com"></property>
		<property name="username" value="v_sunshine@sina.com"></property>
		<property name="password" value="v_sunshine"></property>
		<property name="protocol" value="smtp"></property>
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.from">v_sunshine@sina.com</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
</beans>